<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}">
<head>
    <title>Error Page</title>
</head>
<body>
<div id="content" class="mt-5">
    <div class="grid grid-cols-12">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
            <!-- Card -->
            <div
                    class="block p-6 border-t-4 border-green-500 bg-white rounded-lg shadow hover:bg-gray-100 dark:border-t-4 dark:border-white dark:bg-gray-800 dark:hover:bg-gray-600">
                <div th:replace="~{message::messagebox}"></div>
            </div>
        </div>
        <div class="col-span-4"></div>
    </div>
</div>
<script>
    console.log("Error Page")
</script>
</body>
</html>